@charset "ISO-8859-1";
body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
p {
  text-align: center;
  color: red;
}
#para1 {
  text-align: left;
  color: gray;
}
.parrafoClase {
  text-align: center;
  color: #ffff00;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
